<div class="form-group">
    <label for="old_password">{{ translate "dashboard.profile.tabs.password.form.old_password.libelle" }}</label>
    <input name="old_password" value="{{form.old_password}}"
        class="{{ternaryIf myErrors.old_password 'is-invalid' ''}} form-control" type="password" id="old_password"
        autocomplete="off" aria-describedby="old_passwordHelp">
    {{#if myErrors.old_password }}
    <small id="old_passwordHelp" class="form-text text-danger">{{ myErrors.old_password }}</small>
    {{/if}}
</div>
<div class="form-group">
    <label for="new_password">{{ translate "dashboard.profile.tabs.password.form.new_password.libelle" }}</label>
    <input name="new_password" value="{{form.new_password}}"
        class="{{ternaryIf myErrors.new_password 'is-invalid' ''}} form-control" type="password" id="new_password"
        autocomplete="new-password" aria-describedby="new_passwordHelp">
    {{#if myErrors.new_password }}
    <small id="new_passwordHelp" class="form-text text-danger">{{ myErrors.new_password }}</small>
    {{/if}}
</div>
<div class="form-group">
    <label
        for="confirm_password">{{ translate "dashboard.profile.tabs.password.form.confirm_password.libelle" }}</label>
    <input name="confirm_password" value="{{form.confirm_password}}"
        class="{{ternaryIf myErrors.confirm_password 'is-invalid' ''}} form-control" type="password" id="confirm_password"
        autocomplete="new-password" aria-describedby="confirm_passwordHelp">
    {{#if myErrors.confirm_password }}
    <small id="confirm_passwordHelp" class="form-text text-danger">{{ myErrors.confirm_password }}</small>
    {{/if}}
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit"
            class="btn btn-primary">{{ translate "dashboard.profile.tabs.password.form.submit" }}</button>
    </div>
</div>