{{> "account/header"}}

<div class="d-flex justify-content-center   ">
  <div class=" col-md-6 m-3">
    {{#if result}}
    <div class="alert alert-{{ternaryIf success 'success' 'danger'}} " role="alert">
      {{result}}
    </div>
    {{/if}}

    <form class="bg-white border p-3 " method="POST" action="/reset-password">

      <div class="form-group p-1 pt-3">
        <h3> {{ translate "account_page.reset_password.form.header.title"}} </h3>
        <hr class="pb-2" />
        <label for="email"> {{ translate "account_page.reset_password.form.email.label"}}</label>
        <input name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp"
          {{ternaryIf myErrors.email "is-invalid" "" }} value="{{form.influencer.subscriber.email}}"
          autocomplete="email">
        {{#if myErrors.email}}
        <small id="emailHelp" class="form-text text-danger">{{myErrors.email }} </small>
        {{/if}}
      </div>
      {{!-- 
  <div class="form-group">
    <label for="exampleInputPassword1"> {{ translate "account_page.reset_password.form.login.label"}}</label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  --}}
      <button type="submit" class="btn btn-primary w-100 mt-2">
        {{ translate "account_page.reset_password.form.submit"}} </button>
    </form>
    <div class="bg-white mt-2 border  p-3 mb-4">
      <p class="text-dark mb-0 text-center">
        <a href="/log-in"> {{ translate "account_page.reset_password.form.footer.return"}} </a>
      </p>
    </div>
  </div>
</div>
</div>
{{> "account/footer"}}

<script>
  /* ****************************** make the footer always on the bottom */
  $(function () {

  });
</script>



</body>

</html>