{{> "influencer/header"}}

<!-- Page content holder -->
<div class="page-content p-2 px-md-3 pt-md-4 all-links" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">
            {{ translate "dashboard.generals.toggle" }}
        </small></button>


    <!-- Demo content -->
    <h3 class="display-4 text-white">{{ translate "dashboard.all_links.page_title" }}</h3>
    {{#if result}}
    <div class="alert alert-{{ternaryIf success 'success' 'danger'}} result" role="alert">
        {{result}}
    </div>
    {{/if}}

    <div class="card mb-4 p-0 p-md-1 col-12">
        <div class="card-body">
            <div class=" ">


                <table id="myTable" class="display ">
                    <thead>
                        <tr>
                            <th>{{ translate "dashboard.all_links.table.head.link" }}</th>
                            <th>{{ translate "dashboard.all_links.table.head.KEY" }} </th>
                            <th>{{ translate "dashboard.all_links.table.head.created" }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each links }}
                        <tr class="link" data-id="{{this._id}}">
                            <td>
                                <div class="d-flex align-items-center">
                                    <i class="fab fa-slack-hash fa-2x mr-3 " aria-hidden="true"></i>
                                    <a href="{{this.url}}" class="align-middle">{{this.title}}</a>

                                </div>

                            </td>
                            <td><span class="badge bg-dark text-white">{{this.KEY}}</span></td>
                            <td>{{dateFormat this.date_added "DD-MM-YYYY"}}</td>
                            <td style="min-width: 6.5rem;">
                                <div class="custom-control custom-switch ">
                                    <input type="checkbox" name="main" class="custom-control-input"
                                        id="customSwitch-{{this._id}}" {{ternaryIf this.main "checked" ""}}>
                                    <label class="custom-control-label"
                                        for="customSwitch-{{this._id}}">{{ translate "dashboard.all_links.table.link.main"}}
                                        {{!-- make it <br> on main --}}</label>
                                </div>
                            </td>
                            <td>
                                <div class='actions d-flex flex-column ml-3 float-right'>
                                    <a href="{{domain}}/dashboard/links/update/{{this._id}}"><i class="fas fa-pen fa-1x mb-2"></i></a>
                                    <span class="remove"><i class="fas fa-trash-alt fa-1x "></i></span>
                                </div>

                            </td>
                        </tr>
                        {{/each }}
                    </tbody>
                </table>
            </div>

        </div>
    </div>



    <p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
    <p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
            <u>Bootstrapious</u></a>
    </p>
    <div class="separator"></div>

</div>
<!-- End demo content -->

{{> "influencer/footer"}}



<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


<script>
    $(document).ready(function () {

        /* ******************* DataTable ********************** */
        $('#myTable').DataTable({
            language: {
                emptyTable: "{{ translate 'dashboard.all_links.table.DataTable.emptyTable' }}",
                info: "{{ translate 'dashboard.all_links.table.DataTable.info' }}",
                lengthMenu: "{{ translate 'dashboard.all_links.table.DataTable.lengthMenu' }}",
                infoEmpty: "{{ translate 'dashboard.all_links.table.DataTable.infoEmpty' }}",
                infoFiltered: "{{ translate 'dashboard.all_links.table.DataTable.infoFiltered' }}",
                zeroRecords: "{{ translate 'dashboard.all_links.table.DataTable.zeroRecords' }}",
                search: "{{ translate 'dashboard.all_links.table.DataTable.search' }}",
                paginate: {
                    first: "{{ translate 'dashboard.all_links.table.DataTable.paginate.first' }}",
                    previous: "{{ translate 'dashboard.all_links.table.DataTable.paginate.previous' }}",
                    next: "{{ translate 'dashboard.all_links.table.DataTable.paginate.next' }}",
                    last: "{{ translate 'dashboard.all_links.table.DataTable.paginate.last' }}"
                }
            }
        });

        $("#myTable").wrap("<div class='overflow-auto w-100'></div>")


        /* ************* make it on main **********************/
        $(".link input[name='main']").change(function (event) {
            console.log("change main settings of %s",$(this).parents(".link").data('id'))
            fetch('{{domain}}/dashboard/all-my-links/on_main', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        link_id: $(this).parents(".link").data('id'),
                        main: $(this).prop('checked')
                    })
                })

                .then((response) => {
                    return response.json()
                })
                .then(response => {
                    console.log("link settings changing...")
                    console.log(response.message)
                })
                .catch(error => console.log(error));

        })
    });


    /* ****************** remove a Link ******************* */  
    $(".remove").click( function(event){
        var link_tr;
        const fadeLink = () => {
            console.log("deleting...")
            link_tr = $(this).parents("tr.link")
            link_tr.find("td").removeClass("sorting_1")
            link_tr.animate({
                'background-color': '#fb6c6c'
            }, 300);
            return fetch('{{domain}}/dashboard/all-my-links/remove', {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    },
                    body : JSON.stringify({
                        link_id: link_tr.data('id')
                    })
            })
        }

        fadeLink()
        .then(response => response.json())
        .then(response => {
            console.log(response.message)
            if(response.success){
                link_tr.fadeOut()
            }
        })
        .catch(err => {
            console.log("error => %s ",err)
        })
    })
    

</script>

</body>

</html>