{{> "influencer/header"}}

<!-- Page content holder -->
<div class="page-content p-2 px-md-3 pt-md-4 home" id="content">
  {{> "influencer/menu_toggle"}}
  <!-- Demo content -->
  <!-- <h3 class="display-4 text-white">Index page</h3> -->
  {{#if result}}
  <div class="col-lg-12 alert alert-{{ternaryIf result.success 'success' 'danger'}} " role="alert">
    {{result.message}}
  </div>
  {{/if}}

  <div class="col-lg-12 alert alert-{{ternaryIf influencer_insta.URL 'info' 'danger'}} welcome" role="alert">
    {{#if influencer_insta.URL}}
    {{translate "dashboard.home.link.ready" }} 
      <a class="" target="new_blank" href="/u/{{influencer.login}}">
        {{env.domain}}/u/{{influencer.login}}
      </a>
    {{else}}
    {{translate "dashboard.home.link.create.insta" }} 
       <a href="./contact-list">{{translate "dashboard.home.link.create.here" }}</a>
    {{/if}}
  </div>

  <div class="card mb-4 py-3 border-left-success col-lg-12">
    <div class="card-body">
      <p class="line-break">{{translate "dashboard.home.welcome.0" influencer.subscriber.first_name }}.

        {{translate "dashboard.home.welcome.1" }} <a
          href="tomail:{{env.email}}">{{env.email}}</a>
      </p>

    </div>
    
  </div>


  <!-- 
  <p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
  <p class="lead text-white">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
      <u>Bootstrapious</u></a>
  </p> -->
  <div class="separator"></div>

</div>
<!-- End demo content -->

{{> "influencer/footer"}}

</body>

</html>