{{> "main/header.min"}}

<div class="container pt-4 pb-2 " id="contact-us">
    <h1 class="text-center mt-5">{{ translate "contact_page.title" }}</h1>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 text-center my-auto ">
                <h4>{{ translate "contact_page.contact.send_email" }} </h4>
                <p class="text-dark">hichamlmalki@gmail.com</p>
                <h4>{{ translate "contact_page.contact.other_ways" }}</h4>
                <ul class="list-inline mt-3">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
        </div>
        <div class="col-lg-6 text-center">
            <div class=" col-8 mx-auto border-top mt-5 mb-4 d-lg-none"></div>
            <h4> <small>Hicham MALKI</small>, <br/>{{ translate "contact_page.founder.title" }}</h4>
            <img
                src="https://media-exp1.licdn.com/dms/image/C5603AQH6r8H7irICLw/profile-displayphoto-shrink_200_200/0?e=1603324800&v=beta&t=dIElXnAec03l0QqsGnPkoEr7vDaqEcXbYd477lX8LtM" 
                width="120" class="mt-3 mb-3"/>
            <div class="row justify-content-center">
            <p class="col-sm-8  text-dark">{{ translate "contact_page.founder.desc" }}</p>
            </div>
            <a href="https://www.linkedin.com/in/malki-hicham-032ba570/"><button type="button" class="btn btn-dark">{{ translate "contact_page.founder.button" }}</button></a>

            </div>
        </div>
    </div>

</div>
{{> "main/footer"}}

<script>
    $(function () {

    });
</script>



</body>

</html>