<!doctype html>
<html lang="{{i18n_lang_2}}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/min/custom.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/min/index.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        crossorigin="anonymous">


    <title>{{ translate "main_page.title" }}</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md " role="navigation">
        <a class="navbar-brand mr-auto" href="/">
            <img src="/images/linkey.png" width="100" alt="Logo LINKEY">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link howitworks-btn text-uppercase"
                        href="#howitworks">{{ translate "main_page.menu.how_it_work"}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pricing-btn text-uppercase"
                        href="#pricing">{{ translate "main_page.menu.pricing"}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link getstarted-btn text-uppercase"
                        href="#getstarted">{{ translate "main_page.menu.get_started"}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="/log-in">{{ translate "main_page.menu.log_in"}}</a>
                </li>
            </ul>
        </div>

    </nav>