{{> "main/header" }}

<header class="masthead text-white text-center ">
  <div class="overlay"></div>
  <div class="black">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">{{ translate "main_page.title" }} </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="bg-light text-center pb-5" id='howitworks'>
  <div class="container">
    <h1 class="mb-5 pt-5">{{ translate "main_page.menu.how_it_work"}}</h1>
    <div class="row">
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="icon d-flex ">
            <i class="fas fa-swatchbook fa-9x m-auto text-primary"></i>

          </div>
          <h3>{{ translate "main_page.how_it_works.1.title"}}</h3>
          <p class="lead mb-0"><span class="badge badge-dark">1</span>
            {{{ translate "main_page.how_it_works.1.description"}}}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="icon d-flex">
            <i class="fab fa-instagram fa-9x m-auto text-primary"></i>
          </div>
          <h3>{{ translate "main_page.how_it_works.2.title"}}</h3>
          <p class="lead mb-0"><span class="badge badge-dark">2</span>
            {{ translate "main_page.how_it_works.2.description"}}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class=" mx-auto mb-0 mb-lg-3">
          <div class="icon d-flex">
            <i class="fas fa-users fa-9x m-auto text-primary"></i>

          </div>
          <h3>{{ translate "main_page.how_it_works.3.title"}}</h3>
          <p class="lead mb-0"><span class="badge badge-dark">3</span>
            {{ translate "main_page.how_it_works.3.description"}}
          </p>
        </div>
        <blockquote>{{ translate "main_page.how_it_works.understand.1"}}, <br />
          {{ translate "main_page.how_it_works.understand.2"}}
          <a href="https://instagram.com/linkey.demo">{{ translate "main_page.how_it_works.understand.demo"}}</a>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<div class="pricing-header px-3 py-3 pt-5 pb-4 mx-auto text-center" id="pricing">
  <h1 class="display-4">{{ translate "main_page.menu.pricing"}}</h1>
  <p class="lead d-none"></p>
</div>

<DIV class="container pricing">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ translate "main_page.how_it_works.pricing.free.title"}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.1"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.2"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.3"}}</li>
          <li class="getpaid">{{ translate "main_page.how_it_works.pricing.free.plan.4"}}</li>
          <li class="getpaid">{{ translate "main_page.how_it_works.pricing.free.plan.5"}}</li>
          <li class="getpaid">{{ translate "main_page.how_it_works.pricing.free.plan.6"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.7"}}</li>
        </ul>
        <a type="button" class="btn btn-lg btn-block btn-outline-primary getstarted-btn " href="#getstarted">
          {{ translate "main_page.how_it_works.pricing.free.sign_up"}}</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ translate "main_page.how_it_works.pricing.pro.title"}}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.1"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.2"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.3"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.4"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.5"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.6"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.free.plan.7"}}</li>
          <li>{{ translate "main_page.how_it_works.pricing.pro.plan.1"}}</li>


        </ul>
        <a href="/contact">
        <button type="button" class="btn btn-lg btn-block btn-primary">
          {{ translate "main_page.how_it_works.pricing.pro.sign_up"}}

        </button>
        </a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm d-none">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29.9 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited links</li>
          <li>Social icons</li>
          <li>Newsletter Email Signup</li>
          <li>Link Tracking & Stats</li>
          <li>No Ads</li>
          <li>Email Support</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>
</DIV>

{{> "main/footer"}}

<script>
  /* ****************************** make the footer always on the bottom */
  $(function () {

    $('nav li a').click(function () {
      // $(".navbar-toggler-icon").trigger("click");
    })

  });
</script>


</body>

</html>