<!doctype html>
<html lang="{{i18n_lang_2}}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/stylesheets/min/custom.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/min/follower.css" crossorigin="anonymous">
  <title>{{  translate title }}</title>
</head>

<body data-influencer-insta-url="{{influencer_insta.URL}}" data-influencer-links='{{{json influencer.links}}}'
  data-influencer-id='{{influencer._id}}' data-prefix="{{ env.prefix}}" data-domain="{{env.domain}}">